html,
body,
body.montage {
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 100%;
  height: 100%;
  overflow: auto;
}

a {
  text-decoration: underline;
  text-align: center;
  cursor: pointer;
  cursor: hand;
  border: none !important;
}

a:visited {
  color: #333;
  text-decoration: none;
}

a:hover {
  color: #009c3a;
}

select {
  cursor: pointer;
  cursor: hand;
}

button:hover {
  background-color: #80dfff;
}

select:hover {
  background-color: #80dfff;
}

label {
  /* font-size: 11pt; */
  /* padding-top: 20px; */
  margin-bottom: 0;
  margin-top: 10px;
  padding-bottom: 2px;
  display: block;
  width: 100%;
  font-weight: bold;
}

label.alignleft {
  text-align: left;
  margin-top: 10px;
  margin-left: -120px;
}

section {
  margin: 0 20px;
}

th {
  padding-top: 10px;
}

.elevation3 {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.4);
  padding: 10px;
  margin: auto;
  max-width: 2in;
}

div.page-host {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.submitButton:hover {
  background-color: #33ccff;
}

.icon-disabled {
  color: #aaa;
}

.iconLink,
.iconLink:visited {
  color: #333;
}

/* Grid Classes */
.dgrid-row-odd {
  background: #efefef;
}

.assessmentActionColumn {
  width: 60px;
}

.AssessmentResults {
  width: 30%;
}

.TopMenuDropDown {
  vertical-align: bottom;
  margin: 0;
}

.TopMenuDropDown.dijitDropDownButton .dijitButtonNode {
  border: 0;
  color: #333;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  vertical-align: bottom;
  padding: 0;
}

.TopMenuDropDown.dijitDropDownButton .dijitButtonNode .dijitArrowButtonInner {
  display: none;
}

.menuLink,
.TopMenuDropDown .menuLink {
  font-size: 1.2em;
  margin: 0;
  padding: 6px;
  outline: none;
}

.menuLink a,
.TopMenuDropDown .menuLink a {
  outline: none;
}

.menuLink:hover,
.TopMenuDropDown .menuLink:hover {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+24,2bce30+52,ffffff+82&0+1,0.15+24,0.15+82,0+100 */
  background-color: #e6ffe6;
  border-radius: 2px;
}

.FormLine {
  margin-bottom: 10px;
}

.MenuPanel .dijitBorderContainer-dijitContentPane {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.FormButtonContainer {
  padding: 2px;
  margin: 2px;
  text-align: right;
}

.Toolbar {
  text-align: right;
}

.Toolbar i {
  margin-left: 6px;
}

.Toolbar i.icon.disabled,
.Toolbar i.disabled {
  cursor: default;
  color: #ddd;
}

.home-sidebar {
  background-color: #c0c0c0;
}

.home-header {
  background-color: #2a222a;
  /* margin: 0; */
  height: 70px;
}

.home-header-image {
  width: 64px;
}

.home-menu-toggle {
  color: #333;
}

.material-header {
  /*height: 88px;*/
  margin-left: auto;
  min-height: 70px;
  background-color: #2a222a;
  margin-bottom: auto;
}

.menu-item:hover {
  background-color: white;
}

.menu-item {
  padding-left: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Roboto', 'Noto', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  position: relative;
  min-height: 48px;
  padding-top: 0;
  padding-right: 16px;
  box-sizing: border-box;
}

.nav-item {
  color: #23527c;
  text-decoration: underline;
  padding-right: 0;
  margin-right: 0;
}

a:hover {
  color: #0056b3;
}

.nav-link {
  padding-left: 0;
  display: block !important;
  color: #23527c;
  outline: none !important;
}

.mobile-menu-toggle {
  position: fixed;
  top: 25px;
  right: 16px;
  background-color: #2a222a;
  color: white;
  padding: 6px;
  z-index: 90000;
}

.swipe-area {
  position: absolute;
  width: 50px;
  left: 122px;
  top: 0;
  height: 100%;
  /* background: #f3f3f3; */
  z-index: 9999;
  /* touch-action: auto; */
}

.header-text {
  color: white;
  font-size: 24px;
}

.header-text-card {
  left: 15px;
  text-align: center;
  max-height: 64px;
}

.headercontent {
  top: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  border-radius: 2px;
}

button {
  cursor: pointer;
  cursor: hand;
}

.tree-leaf {
  position: relative;
  padding-top: 8px;
  padding-bottom: 0;
}

.tree-leaf .tree-child-leaves {
  display: block;
  margin-left: 15px;
}

.tree-leaf .hidden {
  display: none;
  visibility: hidden;
}

.tree-leaf .tree-expando {
  background: #ddd;
  border-radius: 3px;
  cursor: pointer;
  float: left;
  height: 10px;
  line-height: 10px;
  position: relative;
  text-align: center;
  top: 5px;
  width: 10px;
}

.tree-leaf .tree-expando:hover {
  background: #aaa;
}

.tree-leaf .tree-leaf-text {
  cursor: pointer;
  text-align: left;
  margin-left: 40px;
}

.tree-leaf .tree-leaf-text:hover { color: #23527c; }

/* .tree-leaf .tree-leaf-text:focus {
  color: #007bff;
  text-decoration: underline;
} */

.tree-leaf .tree-leaf-content::after { clear: both; }

.tree-expando {
  display: none;
}

/* .fileMeta {
  overflow-x: auto;
  max-width: 98%;
}

.insideFolderDetails {
  overflow-x: auto;
  max-width: 98%;
} */

.tlfolder {
  float: left;
  padding-left: 25px;
  padding-right: 4px;
}

#treeView {
  margin-left: 30px;
}

.homeDirLink {
  text-align: left;
  margin: auto;
}

a:not([href]):not([tabindex]):hover {
  color: #23527c;
}

a {
  color: #3277b3 !important;
  text-decoration: underline !important;
}

a:hover {
  color: #23527c !important;
}

button:disabled,
button[disabled] {
  cursor: default;
}

button:disabled:hover,
button[disabled]:hover {
  background-color: inherit;
}

.rafterHomeLink {
  text-decoration: none !important;
  color: #212529 !important;
}

.rafterHomeLink:hover { color: #23527c !important; }

::-webkit-scrollbar {
  -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
  width: 12px;
}

::-webkit-scrollbar:horizontal {
  height: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  border: 2px solid #ffffff;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #ffffff;
}

.hoverHand {
  cursor: pointer;
  cursor: hand;
}

@media screen and (max-width: 766px) {
  .drawer {
    background-color: rgb(192, 192, 192);
    float: right;
    height: 100%;
  }
  .drawer-container {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
  }
  .content-block {
    overflow-x: hidden;
  }
  ::-webkit-scrollbar:vertical {
    width: 0;
  }
}

@media screen and (min-width: 766px) {
  .drawer-container {
    float: right;
    position: fixed;
    right: 0;
  }
  .main-panel {
    overflow: hidden;
    position: relative;
    height: 100%;
    display: block;
    margin-right: 187px;
  }
  .content-block {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
    margin-top: 80px;
    margin-right: inherit;
  }

  .footer {
    /* position:absolute;
    bottom:0px; */
    width: 100%;
  }
}

.drawer-container {
  z-index: 999;
  height: 100%;
}

.nav-list {
  position: fixed;
  top: 70px;
  right: 0;
  width: 188px;
  height: 100%;
  z-index: 90000;
  background-color: rgb(192, 192, 192);
}

.navImage {
  position: fixed;
  top: 0;
  right: 0;
}
